@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var rootContent = Umbraco.ContentAtRoot();
    var siteSettings = rootContent.OfType<SiteSettings>().FirstOrDefault();
    var content = (ContentModels.ContactSection)Model.Content;
   
    var address = siteSettings?.ContactAddress?.ToString() ?? "Info will come";
    var phone = siteSettings?.ContactPhone?.ToString() ?? "Info will come";
    var email = siteSettings?.ContactEmail?.ToString() ?? "Info will come";
}

<section class="contact-section">
    <div class="container contact-container">
        @if (content.ContactImage != null)
        {

            <img class="contact-img" src="@content.ContactImage.Url()" />
        }

        <div class="contact-content">
            <h2 class="contact-title">@content.ContactTitle</h2>
          
        
        <ul class="contact-list">
            @if (!string.IsNullOrEmpty(address))
            {
                    <li><i class="fa-solid fa-location-dot"></i> <span>Our address:</span> <p>@address</p></li>
            }
            @if (!string.IsNullOrEmpty(phone))
            {
                    <li><i class="fa-solid fa-phone"></i><span>Phone:</span> @phone</li>
            }
            @if (!string.IsNullOrEmpty(email))
            {
              <li><i class="fa-solid fa-envelope"></i> <span>Email:</span> <a href="@email">@email</a></li>
            }
        </ul>
        </div>
        </div>
      
    </section>
