@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.ServiceSection)Model.Content;
    var settings = Model.Settings as ContentModels.ServiceSettings; 
    var sectionColor = settings?.ServiceBgColor?.Color ?? "#ffffff";

    var current = Umbraco.AssignedContentItem;
    var siteRoot = current?.Root();

    var servicePage = siteRoot?.Children<ServicePage>()?.FirstOrDefault();
    var items = servicePage?.Children<ServiceDetail>()?.OrderByDescending(x => x.CreateDate).ToList() ?? [];
}

<section class="service-section" style="background-color:@sectionColor">
    <div class="container">
        <div class="service-header center-content">
            @if(settings!.ShowServiceLabel)
            {
                <div class="service-label label">@content.ServiceLabel</div>
            }

            <div class="service-title">@Html.Raw(content.ServiceTitle)</div>
        </div>
        <div class="service-card-list">
            @if (items.Any())
            {
                foreach (var item in items)
                {
                    <div class="service-card">
                        <a href="@item.Url()" class="service-card-link">
                        <h4 class="service-card-title">@item.Name</h4>
                        @if (item.ServiceDetailThumbnail != null)
                        {

                                <img class="service-card-img" src="@item.ServiceDetailThumbnail.Url()" alt="@item.Name" />
                            }
                            else
                            {
                                <img class="service-card-img" src="~/images/Service1.svg" alt="@item.Name" />
                            }


                        <p class="service-card-text">@item.ServiceDetailExcerpt</p>

                        </a>
                    </div>
                }
            }
            else
            {
                <p>No Services Avalible</p>
            }
        </div>
    </div>
    </section>

@* <div class="service-card-list">
@if (content.ServiceCardList != null)
{
    foreach (var card in content.ServiceCardList)
    {
        @await Html.PartialAsync("blocklist/Components/serviceCard", card)
    }
    }
</div>
 *@